<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue.js App</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div id="app">
      <h1>チュートリアルToDoリスト</h1>

      <label for="test1"> <input type="radio" id="test1" name="status" value="すべて"  @change="countItems('all')" checked/>すべて</label>
      <label for="test2"> <input type="radio" id="test2" name="status" value="作業中" @change="countItems('working')" />作業中</label>
      <label for="test3"> <input type="radio" id="test3" name="status" value="完了" @change="countItems('done')" />完了</label>

      （{{ count }} 件を表示）

      <table>
        <thead>
          <tr>
            <th class="id">ID</th>
            <th class="comment">コメント</th>
            <th class="state">状態</th>
            <th class="button">-</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, key) in itemSort" v-bind:class="{done: item.status=='done'}">
            <th>{{ key+1 }}</th>
            <td>{{ item.content }}</td>
            <td class="state">
              <button v-on:click="changeStatus(item.id)">{{ toJapanese(item.status) }}</button>
            </td>
            <td class="button">
              <button v-on:click="removeItem(item.id)">削除</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>新しい作業の追加</h2>
      <form class="add-form" v-on:submit.prevent>
        コメント <input type="text" name="comment" v-model="newContent" />
        <button type="submit" v-on:click="addItem">追加</button>
      </form>
    </div>

    <script src="./vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
